body {
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url("https://images.unsplash.com/photo-1523357585206-175e971f2ad9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1748&q=80");
    background-position: center;
}
h1,
h5,
p {
    font-family: 'IBM Plex Sans Thai', sans-serif;
}



.container-fluid {
    display: flex;
    margin-top: 40px;
    height: 80vh;
    align-items: center;
    margin-bottom: 300px;
}

.increase h1 {
    margin-bottom: 50px;
    font-size: 51px;
    color: #ed402d;
    font-weight: 600;
}

.increase {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.increase h5 {
    margin-top: 25px;

}

span {
    font-size: 24px;
    font-weight: 600;
}



a > .donut-img {
    width: 200px;
    cursor: pointer;
    margin-bottom: 10px;
}


.flex-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;

}

.multiply {
    flex-direction: column-reverse;
    display: flex;
    align-items: center;
    margin: 20px;
}


img {
    width: 350px;
}


@-webkit-keyframes spin-me{
    0% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

@keyframes spin-me{
    0% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

.thing-to-spin:hover {
    /*animation-name*/
    -webkit-animation-name: spin-me;
    animation-name: spin-me;
    /*animation-iteration-count*/
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    /*animation-duration*/
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    /*animation-timing-function*/
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;

    /* Shorthand */
    /*  -webkit-animation: spin-me 500ms linear infinite;
      animation: spin-me 500ms linear infinite;*/
}